__pycache__/
venv/*
.vscode/*

# log folder for experiments
wandb/
rl_log/*
sl_log/*

# dataset folder for experiments
dataset/*
dds_results/*

# outputs from experiments
svg/
*.out

# shell scripts for experiments
*.sh